{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block bodyblock %}
  <h1>Hello</h1>
  <div class="order-info">
    <table class="table table-striped">
        
        <thead>
        <th>Your Order</th>
        <th></th>
        </thead>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.title }} x {{ item.quantity }}nos </td>
            <td>Rs.{{ item.total_price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>Total</th>
            <th>Rs.{{ cart.get_total_price }}</th>
        </tr>
        
    </table>
  </div>
  <div class="">
  <form action="{% url 'order:created' %}" method="post" class="">
    {{ form|crispy }}
    <p><input type="submit" value="Place order" class="btn btn-success"></p>
    {% csrf_token %}
  </form>
</div>
{% endblock bodyblock %}