{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block bodyblock %}
  <h1>Hello</h1>
  <div class="order-info">
    <table class="table table-striped">
        
        <thead>
        <th>Your Order</th>
        <th></th>
        </thead>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.title }} x {{ item.quantity }}nos </td>
            <td>Rs.{{ item.total_price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>Total</th>
            <th>Rs.{{ cart.get_total_price }}</th>
        </tr>
        
    </table>
  </div>
  <div class="">
  <form action="{% url 'order:created' %}" method="post" class="">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.phone|as_crispy_field }}
      </div>
      <div class="form-group col-md-12 mb-0">
        {{ form.email|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.address1|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.address2|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.city|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.postal_code|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.state|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        <label for="country">Country*</label>
        <input class="form-control" type="text" placeholder="India" id="country" readonly>
      </div>
    </div>
    <button type="submit" class="btn btn-success col-md-12 mb-0"> Place Order</button>  
  </form>
<br>
</div>
{% endblock bodyblock %}