{% extends "base.html" %}
{% load static %}

{% block bodyblock %}
  

    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                  <a href=" {% url 'products:detail' slug=product.slug %} "><img src=" media/{{product.image}} " alt=" {{product.title}} "></a>
                  <div class="caption">
                    <h3> {{product.title}} </h3>
                 
                    <p><label for="">Rs.{{product.price}}</label> <a href="#" class="btn btn-success" role="button">Add to Cart</a></p>
                  </div>
                </div>
              </div>   
            {% endfor %}
        </div>
    </div>
    {% endblock bodyblock %}